doctype html
html
    head
        title= title
        link(
            type='text/css'
            href='/static/css/main.css'
            rel='stylesheet'
        )

        script(src='/static/js/jquery-3.2.1.min.js')
        script(src='/static/js/functions.js')
    body